<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Home</h2>
        </div>
        <div class="col">
            <img class="img-fluid"src="https://cdn.pixabay.com/photo/2016/11/19/22/52/coding-1841550_960_720.jpg" alt="">
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint suscipit ex, quidem animi repellendus velit obcaecati dignissimos repudiandae assumenda itaque quae beatae. Ducimus quibusdam unde eaque, dignissimos a at, quaerat officia praesentium qui tempora ut. Possimus numquam doloribus aspernatur debitis cupiditate nulla accusamus consequuntur, expedita quisquam minus quibusdam maxime assumenda porro? Ipsum debitis aliquid, tenetur reiciendis quisquam beatae facilis ea iste tempore eveniet nobis dicta assumenda dolore ratione illum, tempora quam eos quia labore dolor. Ipsam nihil voluptas praesentium tempore iure labore dicta quidem officia dolorem quos! Consectetur, quisquam sint ratione sequi repellendus neque, in, harum cupiditate placeat inventore doloremque quaerat velit debitis ab aliquid. Cumque maiores sit incidunt aliquam, excepturi, quos accusamus itaque beatae eveniet quo similique, impedit voluptas corporis tenetur doloremque ullam necessitatibus?</p>
        </div>
    </div>

</section>

